#quizcard{
    background-color: #fff;
    display: flex;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

    img {
        max-width: 70px;
        border-radius: 35px;
    }

    #txt {
        margin-bottom: 10px;
    }

    div {
        padding-left: 10px;
        display: flex;
        flex-direction: column;

        a {
            font-size: 14px;
        }
    }
}